<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>NoteForm</title>
        <!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover -->
        <style>
            .button {
            background-color: #4c5caf; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            }
            .button1 {padding: 10px 24px;}

            .button1 {
            background-color: white; 
            color: black; 
            border: 2px solid #4c5caf;
            }  
            .button1:hover {
            background-color: #4c5caf;
            color: white;
            }

            .button2 {padding: 10px 24px;}

            .button2 {
            background-color: white; 
            color: black; 
            border: 2px solid #4caf70;
            }  
            .button2:hover {
            background-color: #4caf70;
            color: white;
            }
        </style>
    </head>

    <body>
        {% block navbar %}
            {% include 'partials/_navbar.html' %}
        {% endblock %}
      
        <h3>NoteForm</h3>
        <hr>
        
        <form action="" method="POST">
            {%csrf_token%}
            {{form|crispy}}
            <a href="{% url 'lab_4:indexlab4' %}" class="button button1">Back</a>
            <input type="submit" class="button button2">
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </body>
</html>