<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <meta charset="UTF-8"/>
        <title>Node List</title>
        <style>
            a {
                color: inherit;
                text-decoration: none;
            }
            /* https://www.w3schools.com/css/css_table.asp */
            /* table {
              border-collapse: collapse;
              width: 100%;
            }
            
            th, td {
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even){background-color: #f2f2f2}
            
            th {
              background-color: #04AA6D;
              color: white;
            }
            tr:hover {background-color: rgb(208, 208, 208)}  */
            /* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
            .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            }
            .button1 {padding: 10px 24px;}
            .button1 {
            background-color: white; 
            color: black; 
            border: 2px solid #4CAF50;
            }  
            .button1:hover {
            background-color: #4CAF50;
            color: white;
            }

            .button2 {padding: 10px 24px;}
            .button2 {
            background-color: white; 
            color: black; 
            border: 2px solid #e5ff00;
            }  
            .button2:hover {
            background-color: #e5ff00;
            color: rgb(5, 5, 5);
            }       

            .button3 {padding: 10px 24px;}
            .button3 {
            background-color: white; 
            color: black; 
            border: 2px solid #ce1212;
            }  
            .button3:hover {
            background-color: #ce1212;
            color: rgb(2, 2, 2);
            }

        </style>
    </head>
    <body>

      {% block navbar %}
        {% include 'partials/_navbar.html' %}
      {% endblock %}

      {% for message in messages %}
      <p class="alert alert-success mt-3">{{message}}</p>
      {% endfor %}

        <h2>Note List</h2>
        <table class="table table-hover table-bordered">
        <tr>
            <th scope="col">Untuk</th>
            <th scope="col">Dari</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Action</th>
        </tr>
        <!-- TODO loop from Friend model -->
        {% for note in notes %}
        <tr>
            <td> <a href="{% url 'lab_4:cardnote' note.id %}" >{{ note.untuk }}</a></td>
            <td> <a href="{% url 'lab_4:cardnote' note.id %}">{{ note.dari }}</a></td>
            <td> <a href="{% url 'lab_4:cardnote' note.id %}">{{ note.title }}</a></td>
            <td>{{ note.message }}</td>
            <td>
              <a href="{% url 'lab_4:editform4' note.id %}" class='button button2'>Edit</a>
              <a href="{% url 'lab_4:deleteform4' note.id %}" class='button button3'>Delete</a>
            </td>
        </tr>
        {% endfor %}
        </table>
    <a href="{% url 'lab_4:createform4' %}" class="button button1" >Add Note</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </body>
</html>
