<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Note Card</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h5>Dear, {{note.untuk}}</h5>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h5 class="card-title">{{note.title}}</h5>
                <p>{{note.message}}</p>
                <footer class="blockquote-footer">{{note.dari}}</footer>
            </blockquote>
        </div>
    </div>
    <a href="{% url 'lab_4:indexlab4' %}" class="btn btn-primary">Back</a>
    <a href="{% url 'lab_4:deleteform4' note.id %}" class='btn btn-danger'>Delete</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>