<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h4>Mikael</h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lab_4:indexlab4' %}" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lab_4:createform4' %}" aria-current="page">Form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>